@using NewPizzaTask.DataModels;
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")

    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            var scrollpos = localStorage.getItem('scrollpos');
            if (scrollpos) window.scrollTo(0, scrollpos);
        });

        window.onbeforeunload = function (e) {
            localStorage.setItem('scrollpos', window.scrollY);
        };
    </script>

</head>
<body>

    <div class="container" style="margin-top:10px">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="logo">
                    <h1><a>Pizza <span>Online</span></a></h1>
                    <p>Love Pizza</p>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6">
                <ul class="nav navbar-nav navbar-right">
                    @if (Request.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle nav navbar-nav" data-toggle="dropdown">Cart<span class="caret"></span> </a>
                            <ul class="dropdown-menu">
                                @if (Session["cart"] != null)
                                {
                                    foreach (CartItem item in (List<CartItem>)Session["cart"])
                                    {
                                        <li>
                                            <a href="@Url.Action("RemoveFromCart", "Home", new { productId = item.Product.ProductId })">@item.Product.ProductName (@item.Quantity) <i class="fa fa-times"></i></a>
                                        </li>
                                        <li class="divider"></li>
                                    }
                                }
                                <li><a href="@Url.Action("Checkout", "Home")">Checkout</a></li>
                            </ul>
                        </li>
                    }
                    @Html.Partial("_LoginPartial")
                </ul>              

            </div>

        </div>

        @RenderBody()

        <hr />
        <footer>
            <div class="row">
                <div class="col-md-12 copyright">

                    <div class="col-md-6 col-sm-6 copyright-left">
                        <p>&copy; @DateTime.Now.Year - New Pizza Task. All right reserved.</p>
                    </div>

                    <div class="col-md-6 col-sm-6 copyright-right">

                        <ul class="list-unstyled list-social">
                            <li><a href="#" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
